.header {
  position: relative;
  height: 40px;
  width: 100%;
  padding-right: 50px;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  gap: 20px;
}

.icon-cart {
  position: absolute;
  top: 5px;
  right: 10px;
}

.navbar__link {
  text-decoration: none;
  color: #ffffff;
}

.navbar__count {
  position: absolute;
  top: 5px;
}

/*# sourceMappingURL=header.css.map */
