.products__item {
  list-style-type: none;
  border-bottom: dashed 1px #006699;
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 5px;
}

.products__list {
  margin: 0 auto;
  width: 50%;
}

/*# sourceMappingURL=productList.css.map */
