.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.modal h2 {
  margin-top: 0;
}

.btn__close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #000000;
  width: 20px;
  background-color: #ffffff;
  text-align: center;
}

.btn {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 10px;
  border: 0;
  color: #ffffff;
}

/*# sourceMappingURL=modal.css.map */
