.products__item {
  width: 30%;
  list-style-type: none;
  border-bottom: dashed 1px #006699;
  margin-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 5px;
  text-align: center;
  position: relative;
}

.products__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 85%;
}

.products__description {
  background: #fafafa;
  padding: 15px 0;
}

.products__title {
  color: #444444;
  margin: 0 0 10px 0;
}

.products__price {
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

.products__info--item {
  display: block;
  margin-bottom: 12px;
}

.btn__add {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #DC143C;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  border: 0;
}

.products__img {
  display: block;
  margin: 0 auto;
  width: 80%;
  object-fit: cover;
  height: auto;
}

.icon-favorites {
  position: absolute;
  top: 20px;
  left: 0;
}

.status__in-cart {
  background-color: forestgreen;
  padding: 3px 12px;
  width: 200px;
  margin: 0 auto;
}

/*# sourceMappingURL=productsList.css.map */
